#main_header
{
  font-family: 'Rambla', sans-serif;
  width: 75%;
  margin: 0 auto;
}

.title
{
  width: auto;
  height: 150px;
  text-align: center;
}

.container
{
  font-family: 'Rambla', sans-serif;
}
