#main_header
{
  font-family: 'Rambla', sans-serif;
}

.title
{
  width: auto;
  height: 150px;
  text-align: center;
}

.container
{
  font-family: 'Rambla', sans-serif;
  padding: auto;
  margin: auto;
  width: 75%;
}
