#search_wrapper
{
  overflow: visible !important;
}

#searchbar
{
  left: 50%;
  position: absolute;
  width: 20%;
  overflow: visible !important;
}

#searchbar_sub
{
  position: relative;
  left: -50%;
}

#results
{
  width: 50%;
  padding: auto;
  margin: auto;
}

.inner
{
  border: 1px solid black;
  height: 120px;
  display:box;
  box-pack:center;
  box-align:center;
}

.miniature
{
  display: none;
}

.miniature img
{
  margin: 0 auto;
  width: 64px;
  height: 64px;
  vertical-align: middle;
  display: block;
}

.min_location_name
{
  font-size: 23px;
}

.min_location_address
{
  font-size: 19px;
}

.min_location_city
{
  font-size: 17px;
}

.atright
{
  float: right;
}

.rightcorner
{
  top: 10px;
  right: 20px;
  position: absolute;
  max-width: 200px;
}